# importing Libraries

In [7]:
import pandas as pd
import matplotlib.pyplot as plt

#Loading dataset

In [31]:
df=pd.read_csv(r"C:\Users\VAIO\Desktop\Dataset 2\Dataset\iris.csv")
df.head(5)

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0           0           5.1          3.5           1.4          0.2  setosa
1           1           4.9          3.0           1.4          0.2  setosa
2           2           4.7          3.2           1.3          0.2  setosa
3           3           4.6          3.1           1.5          0.2  setosa
4           4           5.0          3.6           1.4          0.2  setosa

#Data preprcessing

In [32]:
from sklearn.preprocessing import LabelEncoder
Encoder=LabelEncoder()
df.iloc[:,-1]=Encoder.fit_transform(df.iloc[:,-1])

df.head(5)

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width  species
0           0           5.1          3.5           1.4          0.2        0
1           1           4.9          3.0           1.4          0.2        0
2           2           4.7          3.2           1.3          0.2        0
3           3           4.6          3.1           1.5          0.2        0
4           4           5.0          3.6           1.4          0.2        0

In [33]:
df.drop(columns="Unnamed: 0",axis=1,inplace=True)
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [34]:
x=df.iloc[:,:-1]  #independent variable
y=df.iloc[:,-1]    #dependent variable

In [40]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [45]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()
dtc.fit(x_train,y_train)  #training the model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [48]:
y_pred=dtc.predict(x_test)
y_pred

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 2, 0, 0, 1, 1, 0, 2, 1, 0, 2, 2, 1, 0, 2, 1, 1, 2, 0, 2, 0,
       0])

In [51]:
y_actual=y_test
y_actual.values

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 2, 0, 0, 1, 1, 0, 2, 1, 0, 2, 2, 1, 0, 1, 1, 1, 2, 0, 2, 0,
       0])

In [54]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [55]:
confusion_matrix(y_actual,y_pred)

array([[16,  0,  0],
       [ 0, 17,  1],
       [ 0,  0, 11]], dtype=int64)

In [58]:
accuracy_score(y_actual,y_pred)*100

97.77777777777777